<mat-toolbar color="primary">
    <span>Booking Restaurant</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/restaurants">Restaurantes</button>
    <button mat-button routerLink="/cancel">Cancelar Reserva</button>
    <span class="example-spacer"></span>
    <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
    <button mat-icon-button class="example-icon" (click)="ingresar()" aria-label="Example icon-button with menu icon">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>